body {
  font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #13141f;
}

header{
    height: 4em;
    padding: 1em;
}

.links{

}

.icon{
    font-size: 3em;
}

.main{
    padding: 8em;
}

.photo{
    width: auto;
    height: auto;
}

.icon:hover{
    color: aqua;
}

.skills{
    height: 100vh;
}

.fade-in, .links{
    transition: all 0.8s ease-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

footer{
    height: 3em;
}