body {
  font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #13141f;
}

header{
    height: 4em;
    padding: 1em;
}

.links{

}

.icon{
    font-size: 3em;
}

.photo{
    width: auto;
    height: auto;
}

.skills{
    height: 100vh;
}

.fade-in, .links{
    transition: all 0.8s ease-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

footer{
    height: 3em;
    padding: 0.5em;
}

@media (min-width: 200px) {
  .main {
    padding: 11em 1em 0 1em;
  }
}

@media (min-width: 400px) {
  .main {
    padding: 11em 0 0 0;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 4em;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 6em;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 8em;
  }
}

@media (min-width: 1536px) {
  .main {
    padding: 10em;
  }
}