:root {
  --main-color: #0c0d18;
  --secondary-color: #13141f;
}

body {
  font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-color);
}

header{
    height: 4em;
    padding: 1em;
    background-color: var(--main-color);
    position: fixed;
    z-index: 2;
}

a:hover{
  color: #9a3412;
}

.icon{
    font-size: 3em;
}

.footerIcon{
  font-size: 1.5em;
}

.photo{
    width: auto;
    height: auto;
}

.card{
  background-color: var(--main-color);
}

.main{
  background-color: var(--main-color);
  z-index: 1;
}

.skills{
    height: 100vh;
    padding-top: 4em;
    background-color: var(--secondary-color);
}

.projects{
  padding: 4em;
  background-color: var(--main-color);

}

.carousel{
  background-color: var(--secondary-color);
  padding: 2em;
  width: 95%;
}

.swiper-button-next {
  margin-bottom:10em;
  z-index: 1;
}

.swiper-button-prev{

}

.proj1, .proj2{
  width: 80%;
}

.textCard{
  padding: 1em;
  font-size: 3em;
}

.fade-in, .links, .footerIcon{
    transition: all 0.8s ease-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(146, 146, 146, 0.3);
  border-radius: 20%;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(19, 11, 11, 0.5);
}

footer{
    height: 5em;
    padding: 0.5em 2em 0.5em 0.5em;
    font-size: 1em;
}

.copy{
  font-size: 1em;
}

@media (min-width: 200px) {
  .main {
    padding: 11em 1em 0 1em;
  }
  .textCard{
    font-size: 0.5em;
  }
  .projects{
    padding: 1em;
  }
  .carousel{  
  padding: 0.4em;
}
}

@media (min-width: 300px) {
  .main {
    padding: 11em 0 0 0;
  }
  .textCard{
    font-size: 0.6em;
  }
  .projects{
    padding: 2em;
  }
  .carousel{  
  padding: 0.4em;
  }
  .copy{
    font-size: 0.6em;
  }
  .email{
    font-size: 0.7em;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 4em;
  }
  .textCard{
    font-size: 0.8em;
  }
  .projects{
    padding: 2em;
  }
  .copy{
    font-size: 0.7em;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 6em;
  }
  .textCard{
    font-size: 1em;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 8em;
  }
  .textCard{
    font-size: 1em;
  }
}

@media (min-width: 1536px) {
  .main {
    padding: 10em;
  }
  .textCard{
    font-size: 1em;
  }
  .carousel{
    width: 80%;
  }
  
}