body {
  font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #13141f;
}

header{
    height: 4em;
    padding: 1em;
}

.icon{
    font-size: 3em;
}

.main{
    padding: 8em;
}

.photo{
    width: 30em;
    height: 30;
}